[Desktop Entry]
Encoding=UTF-8
Name=Germanium eMusic Downloader
Comment=Download songs from eMusic.com

Type=Application
Categories=GNOME;Application;AudioVideo

Exec=germanium %F
TryExec=germanium
Terminal=false
StartupNotify=true

MimeType=application/vnd.emusic-emusic_package
